.form {
  width: 70% !important;
  /* position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  margin-top: 3rem; */
}

.btn {
  width: 20% !important;
}