.navbar {
	height: var(--body-padding-top);
	padding: 0 5rem;
	display: flex;
	/* background-color: var(--primary-color); */
	background: var(--gradient);
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	color: #fff;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
	z-index: 9;
}

.navbarHeader {
	text-transform: uppercase;
	font-size: 1.3rem;
	text-decoration: none;
	color: #fff;
	font-weight: 800;
}

.navbarHeader i {
	margin-right: .3rem;
}

.navbarLinks {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.navbarLink {
	text-decoration: none;
	color: inherit;
	font-size: var(--font-size-m);
	font-weight: 400;
	text-transform: uppercase;
	position: relative;
	margin-left: 2rem;
}

.navbarLink:last-child {
	margin-left: 1.5rem;
}

.navbarLink i {
	font-size: var(--font-size-x);
}

.navbarSettings {
	cursor: pointer;
	background-color: var(--gradient);
	border-radius: 50%;
	height: 2rem;
	width: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 200ms ease-in-out;
}

.navbarSettings:first-child { margin-right: -1rem; }

.navbarSettings:hover {
	background-color: rgb(78, 204, 116);
}

.navbarSettingsOptions {
	background-color: rgb(242, 255, 246);
	position: absolute;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 10rem;
	top: 100%;
	left: 50%;
	transform: translateX(-90%);
	display: none;
	border-radius: .2rem;
	transition: all 100ms ease-in-out;

	animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: 350ms;
}

.navbarSettingsOptionsNotifications {
	min-width: 18rem !important;
	font-size: .8rem !important;
	max-height: 35rem;
	overflow: auto;
}

.navbarSettingsOptionsNotifications > a > div {
	font-style: italic;
	font-size: .7rem;
	font-weight: 100 !important;
	color: var(--text-light);
	letter-spacing: .1rem;
}

.navbarSettingsOptionsNotifications > a:not(:last-child), .navbarSettingsOptions > a:not(:last-child) {
	border-bottom: .1rem solid var(--primary-color-alpha);
}

@keyframes fadeIn {
  0% { opacity: 0; margin-top: -3rem; }
  100% { opacity: 1; margin-top: 0; }
}

.navbarSettingsOptions > a {
	text-decoration: none;
	color: var(--text-light);
	width: 100%;
	/* text-align: center; */
	padding: .7rem 0;
	padding-left: .5rem;
	font-weight: bold;
	transition: background-color 200ms ease-in-out;
}

.navbarSettingsOptions > a > i {
	font-size: .8rem;
	margin-right: .3rem;
	color: var(--primary-color);
}

.navbarSettingsOptions > a:hover {
	background-color: rgba(8, 194, 67, 0.315);
}

.navbarSettings:hover .navbarSettingsOptionsNotifications {
	display: grid !important;
}

.navbarSettings:hover .navbarSettingsOptions {
	display: flex;
}

.navbarContainerLinks {
	display: flex;
	flex-direction: row;
}

.notificationsNumber {
	/* background-color: rgba(255, 0, 0, 0.952); */
	background-color: rgb(158, 255, 190);
	/* color: #fff; */
	color: var(--text-light) !important;
	position: absolute;
	padding: .3rem;
	font-size: .6rem;
	border-radius: 50%;
	border: none;
	outline: none;
	right: 0%;
	top: 0%;
	z-index: 3;
	font-weight: bold;
	height: 1rem;
	width: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.clear {
	background-color: rgba(255, 0, 0, 0.419) !important;
	transition: background-color 200ms ease-in-out;
}

.clear i {
	color: red !important;
}

.clear:hover {
	background-color: rgba(255, 0, 0, 0.559) !important;
}

.noNotifications:hover {
	background-color: rgb(242, 255, 246) !important;
}